<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="topnav">

    <ul>
        <li> <a href="/">go home</a></li>
        <li> <a href="/users/all">All Users to follow </a></li>
        <li> <a href="/profile">Profile </a></li>
        <li><a href="/signup">Sign UP! </a> </li>
        <li>  <a href="/logout">Log out</a> </li>
    </ul>
</div>
<h1>Welcome [[${username}]]</h1>

Go to Users PAGE:

<ul th:each="user : ${allUsers}">
    <li><a th:href="'/users/'+${user.id}">[[${user.username}]]</a></li>
</ul>


</body>
</html>