<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Go ahead and login</h1>


<nav>
    <ul>
        <li>
            <a href="/">go home</a>
            <a href="/profile">Profile
                <a href="/signup">Sign UP! </a>

                <a href="/logout">Log out</a>

        </li>
    </ul>
</nav>

<form action="/login" method="POST">
    name <input type="username" name="username">
    pass <input type="password" name="password">


    <input type="submit">
</form>
</body>
</html>

