<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
</head>

<div class="topnav">

    <ul>
        <li> <a href="/">go home</a></li>
        <li> <a href="/users/all">All Users to follow </a></li>
        <li> <a href="/profile">Profile </a></li>
        <li><a href="/signup">Sign UP! </a> </li>
        <li>  <a href="/logout">Log out</a> </li>
    </ul>
</div>

<h1>User's Profile</h1>
<img src="/images/avatar.jpg">

<h1>Hello, [[${username}]]</h1>
<h2>Your first name is :[[${applicationUser.firstName}]] </h2>
<h2>Your last name is : [[${applicationUser.lastName}]] </h2>
<h2>Your date of Birth is: [[${applicationUser.dateOfBirth}]] </h2>
<h2>Some auto biography: [[${applicationUser.bio}]] </h2>

<hr>
<form action="/postDetails" method="POST">
    post body <input type="text" name="body" required>
    <input type="hidden" name="username">
    <input type="hidden" name="timestamp">
    <input type="submit">
</form>
<hr>
<h1> All of your posts </h1>
<ol>
    <li th:each="post : ${applicationUser.posts}">
        <p> [[${post.body}]]</p>
        <p> [[${post.timestamp}]]</p>
    </li>
</ol>
</div>
<hr>
<h1> You following users and their post: </h1>

<!--    https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html-->
<th:div th:each="user: ${loggedUsersFollower}">
    <div>

        </p><span th:text="${user.username}"></span></p>
        <th:div th:each="post: ${user.posts}">
            </p><span th:text="${post.body}"></span></p>
            <p><span th:text="${ post.timestamp}"></span></p>
            <p></p>
        </th:div>
    </div>
</th:div>

</body>
</html>