<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>


</head>
<body>
<nav>
    <ul>
        <li> <a href="/">go home</a></li>
        <li> <a href="/profile">Profile </a></li>
        <li><a href="/signup">Sign UP! </a> </li>
        <li>  <a href="/logout">Log out</a> </li>
    </ul>
</nav>

<h1>Singup here , Please</h1>

<!--<div th:if="displayUsernameTaken">-->
<!--Username is taken. Please use different one!-->
<!--</div>-->

<h2> make new users here</h2>



<form action="/signup" method="POST">
    name <input type="username" name="username">
    pass <input type="password" name="password">
    date of birth <input type="date" name="dateOfBirth">
    bio <input type="text" name="bio">
    first name <input type="text" name="firstName">
    last name <input type="text" name="lastName">
    <input type="submit">
</form>
</body>
</html>