<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">go home</a>
            <a href="/logout">Log out</a>
            <a href="/profile">Profile</a>
        </li>
    </ul>
</nav>

<h1>This is [[${userWeAreVisiting.username}]]'s detail page, you are visiting them [[${principalTheAndroid}]]</h1>

<h2> Posts</h2>

<ul>
    <li th:each="post : ${userWeAreVisiting.posts}">
        <p>What you posted: [[${post.body}]]</p>
        <p>Time of the post:  [[${post.timestamp}]]</p>
    </li>
</ul>

</body>
</html>