<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>


</head>
<body>
<nav>
    <ul>
        <li> <a href="/">go home</a></li>
        <li> <a href="/profile">Profile </a></li>
        <li><a href="/signup">Sign UP! </a> </li>
        <li>  <a href="/logout">Log out</a> </li>
    </ul>
</nav>

<h1>This is [[${userWeAreVisiting.username}]]'s detail page, you are visiting them [[${principalTheAndroid}]]</h1>

<h2> Posts</h2>

<ul>
    <li th:each="post : ${userWeAreVisiting.posts}">
        <p>What was posted: [[${post.body}]]</p>
        <p>Time of the post:  [[${post.timestamp}]]</p>
    </li>
</ul>

<form action="/follow" method="POST">
    <input type="hidden" name="username" th:value="${userWeAreVisiting.username}">

    <input class="submit" type="submit" value="FOLLOW" />

</form>

</body>
</html>